<div class="background-image-login">
  <div class="img-bkg">
    <img src="http://res.cloudinary.com/djdfz4a67/image/upload/o_30/v1440524915/dog-kitty-best-friends_fslqap.jpg" width="2000px" height="2500px" />
  </div>
</div>

<div class="credentials-container">
  <form action="<%=session_url %>" method="post" class="login">

    <div class="login-header group">
      <img class="sign-up-left" src="http://res.cloudinary.com/djdfz4a67/image/upload/c_scale,w_40/v1441398798/paw_print_vector_3d_kzd5gq.png">
      <p class="sign-up-right">Welcome to HuddleUp</p>
    </div>
    <p class="sign-up-bottom">Meetup for Pets</p>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

    <input type="text" name="user[username]" class="login-input login-username" placeholder="Username" autofocus>

    <input type="password" name="user[password]" class="login-input login-password" placeholder="Password">

    <input type="submit" value="Sign In" class="login-submit">

    <input type="submit" value="Demo Account" class="login-submit demo-account" onclick="loginDemoGuest()">

    <div class="register">
      <p>New to HuddleUp?</p>
      <%= link_to "Sign Up", new_user_url %>
    </div>
  </form>



</div>

<script>
  function loginDemoGuest() {
    $('.login-username').val('Guest');
    $('.login-password').val('foobar');
  }
</script>
