// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-index-item {
  margin-top: 20px;
}

.tiny-user-avatar {
  height: 45px;
  width: 45px;
  border: 1px solid #B3B3B3;
  overflow: hidden;
  border-radius: 7px;
  float: left;
}

.comment-container-right {
  float: left;
  margin-left: 15px;
  width: 86%;
}

.commenter-name {
  float: left;
}

.comment-container-inner-top {
  width: 380px;
}

.comment-body {
  float: left;
  margin-left: 10px;
  font-size: 15px;
  color: #556F6C;
  width: 250px;
}

.comment-delete-btn {
  border: none;
  color: white;
  background: none;
}

.delete-btn-comment {
  float: left;
}

.comment-index-item:hover .comment-delete-btn {
  color: #716565;
}

.comment-author-name {
  // padding-top: 5px;
  color: #1984C3;
  font-weight: bolder;
  font-size: 17px;
}

textarea.comment-textarea {
  font-size: 15px;
  resize: none;
  padding: 10px;
}

button.start-comment-btn {
  margin-left: 82%;
  margin-top: -2px;
  background-color: #5077ac;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;

}

button.start-comment-btn {
  outline: none;
}

button.start-comment-btn:active {
  all: none;
}

abbr.timeago, .sentence {
  border: none;
  color: #C3C6CC;
  font-size: 15px;

  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
