// group index

.group:after{
  content:" ";
  display: block;
  clear: both;
}

.group-item {
  font-family: 'Lucida Grande', Verdana, sans-serif;
  float:left;
  margin: 10px 10px 10px 10px;
  width: 225px;
  height: 200px;
  background-color: #3b5998;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;

}

.group-item p {
  color: white;
  padding: 7px;
 }

.group-item:hover {
  text-decoration: none;
  cursor: hand;
  cursor: pointer;
  background-color: #1984c3;
}
