<div class="faded-background"></div>

<form class="general-form">

  <h1>Update Your Profile
    <span>Please be as detailed as you can.</span>
  </h1>

  <label>
    <span>Headline</span>
    <input type="text" name='interest_fact' value='<%= user.escape('interest_fact') %>' placeholder="Say something interesting!">
  </label>

  <label>
    <span>Gender</span>
    <select name="sex">
      <option disabled selected style='display:none'>Your are a ...</option>
      <option value="♀">Lady</option>
      <option value="♂">Gentleman</option>
    </select>
  </label>

  <br>

  <label>
    <span>Home</span>
    <select name="residence">
      <option disabled selected style='display:none'>Where do you live?</option>
      <option value="Blooming Grassland">Blooming Grassland</option>
      <option value="Desolate Swamp">Desolate Swamp</option>
      <option value="Ethereal Island">Ethereal Island</option>
      <option value="Misty Forest">Misty Forest</option>
      <option value="Parched Woodland">Parched Woodland</option>
      <option value="Windy Valley">Windy Valley</option>
    </select>
  </label>

  <br>

  <label>
    <span>Crowd</span>
    <select name="age_preference">
      <option disabled selected style='display:none'>Which crowd do you prefer to huddle with?</option>

      <option value="Not yet legal to drink crowd">Not yet legal to drink crowd</option>
      <option value="The 20 somethings">The 20 somethings</option>
      <option value="The 30s workhorses">The 30s workhorses</option>
      <option value="The 40s and 50s crowd">The 40s and 50s crowd</option>
      <option value="The never too late to huddle crowd">The never too late to huddle crowd</option>
    </select>
  </label>

  <br>
  <label>
    <span>Job</span>
    <input type="text" name='occupation' value='<%= user.escape('occupation') %>' placeholder="Your current occupation">
  </label>

  <label>
    <span class="text">About</span>
    <textarea id="message" name='bio' placeholder="Describe yourself, why are you here, and what do you like to do ..."><%= user.escape('bio') %></textarea>
  </label>

  <span>&nbsp;</span>

  <button class="button button-update">Update Profile</button><br><br>

  <p>
    Close [x]
  </p>

</form>
