
  <p class="comment-index-item">
    <p class="comment-author-name">
      <% if (comment.escape('author_name') == App.CURRENT_USER.username) { %>
        You:
      <% } else { %>
        <%= comment.escape('author_name')%>:
      <% } %>
    </p>

    <p class="comment-body">
    <%= comment.escape('body')%>
    <br>
    created at: <%= comment.escape('created_at')%>

    <% if (comment.escape('author_name') == App.CURRENT_USER.username) { %>
      <button type="button" class="comment-delete-btn" data-id=<%= comment.id %>>☓</button>
    <% } %>

    </p>

  </p>
