<a href="#/groups/<%= group.escape('id')%>" class="group-index-item" data-id=<%= group.escape('id')%>>
  <p class="hot-fix-1">
    <%= group.escape('name').capitalize()%>
    <!-- num members -->
  </p>
</a>
