
<div class="chapter-banner index-banner-1">


  <div class="headline-container group">
    <div class="left-pane">

      <div class="search-bar-container">
        <input type="text" name="name" autocomplete="off"/>
      </div>

    </div>

    <div class="right-pane">

      <div class="carousel-and-text">

        <div class="group-index-carousel">

          <div id="owl-example" class="owl-carousel owl-theme">

            <% slideShowImages.forEach(function(image){ %>
              <div class="item hover">
                <img src="<%= image %>">
              </div>
            <% }) %>

          </div>


        </div>

        here is description

      </div>
    </div>

  </div>


</div>

<div class="chapter-banner index-banner-2">

</div>

<div class="chapter-banner index-banner-3">

</div>


<div class="groups-container group"></div>

<script>
  $(document).ready(function() {

    $("#owl-example").owlCarousel({

      slideSpeed : 1600,
      singleItem:true,

      autoPlay: 3000,
      stopOnHover: true,


    });

  });
</script>
