#owl-example .item img{
  display: block;
  width: 100%;
  margin-top: -20px;

}

// .owl-item {
//   border: 1px solid #0f1e2d;
// }

.item.hover img:hover {
  cursor:pointer;
}

.group-index-carousel {
  width: 320px;
  height: 170px;
  overflow: hidden;
  margin-left: 10px;
  // border: 10px solid #4E79AF;
}


.group-index-carousel-user {
  width: 225px;
  // border-radius: 3px 3px 3px 3px / 3px 3px 3px 3px;
  margin-top: 15px;
  margin-left: -25px;
}
