<%= render "layouts/navibar" %>

<div id="root">
  <!-- backbone goes here -->
</div>

<% 50.times do %>
  <h2>random line</h2>
<% end %>

<script>
  $(App.initialize);
  App.CURRENT_USER = {
    username: "<%= current_user.username %>",
    id: <%= current_user.id %>
  }
</script>
