/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

a.navbar-brand.overwrite { padding-top: 0px; padding-bottom: 0px; background-color: white; }

li.avatar img{
  margin-top: 10px;
  border-radius: 30%;
}

li.start-group {
  -moz-transition: all .2s ease-in;
 -o-transition: all .2s ease-in;
 -webkit-transition: all .2s ease-in;
 transition: all .2s ease-in;
   }

li.start-group:hover {
  background-color: #3b5998;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}

.navbar-default .navbar-nav>li.start-group>a:hover {
  color: white;
}
.navbar-default .navbar-nav>li.start-group>a {
    color: #3b5998;
}

.navbar-default.ow-color {
  /*background-color: #f8f8f8;*/
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;

}

/*html {
  background: #e3e3e3;
}*/
