.faded-background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background: rgba(92, 88, 88, 0.7);
  position: absolute;
}

.group-form, .huddle-form, .user-form {
    z-index: 102;
    top: 20%;
    left: 25%;
    position: absolute;

    width: 550px;
    background: #FFF;
    padding: 30px 40px 30px 40px;
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3b5998;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #888888;
}
.group-form h1, .huddle-form h1 {

    font: 40px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 20px 50px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: 0px -30px 30px -30px;
    color: #3b5998;
    box-shadow: 0px 0px 0px #888888;

}
.group-form h1>span, .huddle-form h1>span {
    display: block;
    font-size: 11px;
}
.group-form label, .huddle-form label {
    display: block;
    margin: 0px 0px 5px;
}
.group-form label>span, .huddle-form label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 5px;
    color: #3b5998;
    font-size: 16px;
    font-weight: bold;
}

.group-form input[type="text"], .group-form textarea, .huddle-form input[type="text"], .huddle-form textarea, .huddle-form input[type="date"] {
    border: 1px solid #CCC;
    color: #3b5998;
    height: 30px;
    line-height:25px;
    font-size: 15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
// .group-form select {
//     background: #FFF url('down-arrow.png') no-repeat right;
//     background: #FFF url('down-arrow.png') no-repeat right;
//     appearance:none;
//     -webkit-appearance:none;
//     -moz-appearance: none;
//     text-indent: 0.01px;
//     text-overflow: '';
//     width: 70%;
//     height: 35px;
//     line-height:15px;
// }
.group-form textarea, .huddle-form textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}

.group-form p, .huddle-form p {
  text-align: center;
}

.group-form p:hover, .huddle -form p:hover {
  font-weight: bolder;
  cursor: pointer;
}
