.huddler-image-glyph {
  left: 200px;
  top: -16px;
  color: #8d8c8d;
}

.op-less {
  color: #BCC0C7;
}

.hot-fix-1 {
  padding: 10px;
}
.heading.hot-fix-2 {
  padding: 10px 0px 15px 0px;
  font-size: 24px;
  line-height: 1.4;
  font-weight: bold;
  color: #182632;
  margin-left: 5px;
  border-bottom: none;
}

.img-bkg {
  z-index: -10;
  margin-top: -149px;
  position: absolute;
  overflow: hidden;
    height: 1500px;
    width: 100%;
}

.background-image-login {
  position: relative;
}
