// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.delete {
  width: 200px;
  height: 100px;
  background-color: #000;
}

html {
  height: 100%;
}
body {
  min-height: 100%;

  opacity:0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s; /* Safari */

  // position: relative;
  font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
  color: #404040;
  // background: #f7f7f7;
  background-color: #FAF5F5;
}
//
// div.group-show-container {
//   opacity:0.5;
//   transition: opacity 1s;
//   -webkit-transition: opacity 1s; /* Safari */
// }

div.alert-danger {
  width: 100%;
  position: absolute;
  text-align: center;
}


// spinners
#cover {
  z-index: 1000;
  background:  image-url("bluespinner.gif") no-repeat scroll center center #FFF;
  position: absolute;
  height: 100%;
  width: 100%;
}


.cover-dot {
  z-index: 1;
  opacity: 1;
  background:  image-url("dotspinner.gif") no-repeat scroll top #FFF;
  position: absolute;
  height: 85%;
  width: 85%;
}
