// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.delete {
  width: 200px;
  height: 100px;
  background-color: #000;
}


body {
  opacity:0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s; /* Safari */

  // position: relative;
  font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
  color: #404040;
  background: #f7f7f7;
}
// 
// div.group-show-container {
//   opacity:0.5;
//   transition: opacity 1s;
//   -webkit-transition: opacity 1s; /* Safari */
// }

div.alert-danger {
  margin: -100px auto;
  width: 100%;
  position: absolute;
}

.groups-container {
  margin: 0 auto;
  width: 980px;
  // position: absolute;
}
